---
export interface Props {
  company?: string;
  title?: string;
  date: string;
  location: string;
}

const { company, title, date, location } = Astro.props;
---

<li class={company ? "" : "no-company"}>
  <div class="company">
    {company && <h3>{company}</h3>}
    {title && <span>{title}</span>}
  </div>
  <div class="date">
    <span>{date}</span>
    <span>{location}</span>
  </div>
  <ul>
    <slot />
  </ul>
</li>

<style>
  li.no-company {
    margin-top: -0.5em;
  }

  div {
    display: flex;
    align-items: baseline;
    gap: 1ch;
  }
  div > *:not(:first-child)::before {
    content: "|";
    font-size: larger;
    margin-right: 0.5ch;
  }

  h3 {
    margin: 0;
    font-size: 1.4em;
  }

  @media screen and (max-width: 500px) {
    div {
      flex-wrap: wrap;
      gap: 0;
      line-height: 1.2;
      margin-bottom: 4px;
    }
    div.company {
      flex-direction: column;
    }
    div > *:not(:first-child)::before {
      content: "";
      display: none;
    }
    .date {
      justify-content: space-between;
    }
  }

  .date {
    font-size: 0.9em;
  }

  ul {
    padding-left: 4ch;
    line-height: 1.25;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
</style>
