---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="title">
        <img src="nh.svg" width="160px" height="160px" />
        <hr class="vertical" />
        <h1>NEIA HU</h1>
      </div>
      <h2>Front-End Developer.</h2>
      <HeaderLink href="/about">About Me</HeaderLink>
      <HeaderLink href="/resume">Resume</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink
        href="https://github.com/neeia/"
        target="_blank"
        rel="noopener noreferrer">GitHub</HeaderLink
      >
    </main>
    <style>
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
      }
      h1 {
        font-size: 5rem;
        overflow-wrap: break-word;
        width: 2ch;
        text-align: justify;
        margin: 0;
        line-height: 0.695;
        color: crimson;
        font-family: monospace;
      }
      hr.vertical {
        border: none;
        background-color: crimson;
        width: 4px;
        margin: 0;
        height: 10.25rem;
      }
      div.title {
        display: flex;
        gap: 4px;
      }
      h2 {
        margin: 0;
        line-height: 2;
      }
    </style>
  </body>
</html>
