---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="title">
        <h1>Neia Hu</h1>
        <img src="/nh.svg" alt="" width="160px" height="160px" />
      </div>
      <h2>web developer</h2>
      <HeaderLink href="/about">About Me</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/resume">Resume</HeaderLink>
      <HeaderLink
        href="https://github.com/neeia/"
        target="_blank"
        rel="noopener noreferrer">GitHub</HeaderLink
      >
    </main>
    <style>
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 20px;
        -webkit-mask: linear-gradient(#000, #0000);
        mask: linear-gradient(#000, #0000);
      }
      h1 {
        font-size: 5rem;
        margin: 0;
        color: crimson;
        line-height: 64px;
      }
      hr.vertical {
        border: none;
        background-color: crimson;
        width: 4px;
        margin: 0;
        height: 10.25rem;
      }
      div.title {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
      }
      h2 {
        margin: 0;
        line-height: 2;
      }
      a {
        color: crimson;
        text-decoration: dotted underline;
      }
    </style>
  </body>
</html>
