---
import { Icon } from "astro-icon";
import Layout from "../components/Layout.astro";
import Project from "../components/Resume/Project.astro";
import Work from "../components/Resume/Work.astro";
---

<Layout title="Resume">
  <style>
    .page-container {
      display: flex;
      justify-content: center;
      padding: 3ch;
      padding-top: 2ch;
      height: max-content;
      overflow: auto auto;
    }
    .resume-container {
      display: flex;
      flex-direction: column;
      width: 8.5in;
      background-color: white;
      font-size: 12px;
      padding: 0.5in 0.75in;
      box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      gap: 0.25em;
      height: max-content;
    }
    @media screen and (max-width: 900px) {
      .resume-container {
        width: 100%;
        padding: 0.15in 0.2in;
      }
    }
    @page {
      size: auto; /* auto is the initial value */
      margin: 0mm; /* this affects the margin in the printer settings */
    }
    .hide-print {
      display: contents;
    }
    @media print {
      .page-container {
        display: contents;
      }
      .resume-container {
        height: 11in;
        box-shadow: none;
      }
      .hide-print {
        display: none;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 3em;
      margin-right: 2ch;
    }
    div.title {
      font-size: 1.5em;
      line-height: 0.75;
      text-transform: uppercase;
    }
    h1,
    h2,
    h3 {
      margin: 0;
    }
    h2 {
      font-size: 2em;
      font-variant: small-caps;
      margin: 0;
      color: darkred;
    }
    section > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5ch;
      padding: 0;
      line-height: 1.1;
    }
    ul.dot-list > li {
      display: contents;
    }
    ul.dot-list > li:not(:first-child)::before {
      content: "•";
      font-size: smaller;
    }

    p {
      font-size: 1.1em;
      line-height: 1.1;
      margin: 0;
    }
    li:not(:last-child) {
      margin-bottom: 3px;
    }
  </style>
  <div class="page-container">
    <div class="resume-container">
      {/* Header */}
      <section>
        <h1>Neia Hu</h1>
        <dl>
          <dt><Icon name="mdi:globe" width="24px" height="24px" /></dt>
          <dd>California</dd>
          <dt>
            <Icon name="mdi:home-variant-outline" width="24px" height="24px" />
          </dt>
          <dd>
            <a
              href="https://neia.dev/"
              target="_blank"
              rel="noopener noreferrer">neia.dev</a
            >
          </dd>
          <dt>
            <Icon name="simple-icons:github" width="24px" height="24px" />
          </dt>
          <dd>
            <a
              href="https://github.com/neeia"
              target="_blank"
              rel="noopener noreferrer">neeia</a
            >
          </dd>
          <dt>
            <Icon name="mdi:email-outline" width="24px" height="24px" />
          </dt>
          <dd><a href="mailto:me@neia.dev">me@neia.dev</a></dd>
          <dt>
            <Icon name="mdi:phone-outline" width="24px" height="24px" />
          </dt>
          <dd><a href="tel:+16265668830">(626) 566-8830</a></dd>
        </dl>
        <style>
          dl {
            display: flex;
            align-items: center;
            gap: 0ch 0.75ch;
            margin: 0;
          }
          dd {
            padding: 0;
            margin: 0;
            margin-right: 1.8ch;
            display: flex;
            align-items: center;
          }

          @media screen and (max-width: 900px) {
            dl {
              display: grid;
              grid-template-columns: auto 1fr;
            }
          }
        </style>
      </section>
      <section>
        <h2>Experience</h2>
        <ul>
          <Work
            company="TDK Headway Technologies"
            title=".NET Developer"
            date="Apr – Oct 2022"
            location="Milpitas, CA"
          >
            <li>
              Developed internal VB.NET web solutions, such as data logging
              forms to write to Microsoft SQL server
            </li>
            <li>
              Discussed project details, specifications, and timelines for
              deliverables with internal clients
            </li>
          </Work>
          <Work
            company="Coding Minds Academy"
            title="Instructor"
            date="Feb – Apr 2022"
            location="Remote"
          >
            <li>
              Taught middle school students coding, breaking down advanced
              concepts like OOP into simple bits
            </li>
            <li>
              Delivered contextually written feedback to coworkers and parents
              after each session
            </li>
          </Work>
          <Work date="Jun – Aug 2021" location="Arcadia & Irvine, CA">
            <li>
              Taught groups of K-8 students block coding and developed new
              lesson plans for the short summer
            </li>
            <li>
              Resolved problems efficiently, minimizing disruption and
              improvizing content for fast learners
            </li>
          </Work>
          <div class="hide-print">
            <Work
              company="Khoury College (NU)"
              title="CS1800 Teaching Assistant"
              date="Sep – Dec 2019"
              location="Boston, MA"
            >
              <li>
                Taught discrete mathematics, logic, and proofs in regular office
                hours and recitation sessions
              </li>
              <li>
                Modelled problems in different ways to aid in student
                understanding of difficult mathematics
              </li>
            </Work>
          </div>
        </ul>
      </section>
      <section>
        <h2>Projects</h2>
        <ul>
          <Project
            name="Krooster"
            url={{ name: "krooster.com", href: "https://www.krooster.com/" }}
            repo={{
              name: "ak-roster",
              href: "https://github.com/neeia/ak-roster/",
            }}
            date="June 2021 – Present"
          >
            <li>
              Built a web app using <b>TypeScript</b> with <b>NextJS</b> for the
              game "Arknights", which allows users to record and share in-game collection
              data with other players and includes a number of useful tools
            </li>
            <li>
              Used <b>Google Firebase Realtime Database</b> and <b>Vercel</b> for
              authentication, storage, and hosting
            </li>
            <li>
              Designed a fast, responsive, and accessible UI with stylized
              <b>MUI</b> components
            </li>
            <li>
              Actively serving over <b>7,000 registered users</b> with regular updates,
              user support, and bug fixes
            </li>
          </Project>
          <Project
            name="Songb♪rd"
            url={{ name: "songbrd.app", href: "https://www.songbrd.app/" }}
            repo={{
              name: "songbrd",
              href: "https://github.com/neeia/songbrd/",
            }}
            date="November 2022 – Present"
          >
            <li>
              Built a web app using <b>Typescript</b> and <b>NextJS</b> that produces
              random words from the lyrics of songs in a Spotify playlist, based
              on the game Song Association
            </li>
            <li>
              Scraped Genius for lyrics alongside the Spotify and Genius APIs,
              and indexed results in <b>Cloud Firestore</b>
            </li>
            <li>
              Designed a fully responsive UI using <b>Vanilla Extract</b>,
              including a custom autocomplete component
            </li>
          </Project>
          <div class="hide-print">
            <Project
              name="Buckit"
              url={{ name: "buckit.app", href: "https://www.buckit.app/" }}
              repo={{
                name: "buckit",
                href: "https://github.com/neeia/buckit/",
              }}
              date="December 2022 – Present"
            >
              <li>
                Built a lifetime to-do list that divides tasks into buckets
                using
                <b>Svelte</b>, allowing users to split and sort goals between
                multiple categories
              </li>
              <li>
                Created a custom accessible drag and drop UI to move tasks and
                buckets
              </li>
              <li>
                Used <b>MongoDB Atlas</b> and <b>Vercel</b> for authentication, storage,
                and hosting
              </li>
            </Project>
          </div>
        </ul>
      </section>
      <section>
        <h2>Skills</h2>
        <h3>Languages</h3>
        <ul class="dot-list">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>SQL</li>
          <li>Java</li>
          <li>Python</li>
          <li>C#</li>
          <li>Visual Basic</li>
        </ul>
        <h3>Frameworks</h3>
        <ul class="dot-list">
          <li>React</li>
          <li>NextJS</li>
          <li>Astro</li>
          <li>Svelte</li>
        </ul>
        <h3>Tools</h3>
        <ul class="dot-list">
          <li>Git</li>
          <li>GitHub</li>
          <li>Yarn</li>
          <li>NPM</li>
          <li>Express.js</li>
          <li>Google Firebase</li>
          <li>Storybook</li>
          <li>MongoDB</li>
          <li>Vercel</li>
          <li>Cloudflare Pages</li>
        </ul>
      </section>
      <section>
        <h2>Education</h2>
        <h3>Northeastern University</h3>
        <div>Computer Science and Mathematics, B.S.</div>
        <div>December 2021</div>
      </section>
      <section>
        <h2>Interests</h2>
        <ul class="dot-list">
          <li>Web Development</li>
          <li>Accessibility</li>
          <li>Web Design</li>
          <li>UX</li>
          <li>Video Games</li>
          <li>Music</li>
          <li>Cooking</li>
          <li>Manga</li>
        </ul>
      </section>
    </div>
  </div>
</Layout>
